{% extends 'base.html.twig' %}

{% block title %}New ProductTag{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1><a href="{{ path('product_tag_index') }}"><i class="fas fa-arrow-alt-circle-left"></i></a> Create new ProductTag</h1></div>
        <div class="card-body">
            {{ include('product_tag/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
